.navbar {
    display: flex;
    justify-content: space-around;
    background-color: brown;
    color: #fff;
}

h2 {
    cursor: pointer;
}

.list {
   width: 50%;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 24px;
   margin-bottom: 0.5rem;
}

.list li {
    cursor: pointer;
    list-style: none;
    color: #fff;
}

.list li:hover {
    text-decoration: underline;
    transform: scale(1.1);
}